certifi==2021.10.8
charset-normalizer==2.0.7
decorator==4.4.2
flow-vis==0.1
graphviz==0.8.4
idna==3.3
imageio==2.9.0
imageio-ffmpeg==0.4.5
moviepy==1.0.3
mxnet==1.8.0.post0
numpy==1.21.2
opencv-python==4.5.3.56
Pillow==8.3.2
proglog==0.1.9
pytorch-fid==0.2.1
PyYAML==6.0
requests==2.26.0
scipy==1.7.1
torch==1.9.1
torchvision==0.10.1
tqdm==4.62.3
typing-extensions==3.10.0.2
urllib3==1.26.7
